<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websockets Client</title>

    <link href="./styles.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
  </head>
  <body>
    <main id="v-app">
      <aside class="chat-rooms">
        <!-- <nav>
          <alerts-component :items="alerts"></alerts-component>
          Chats
        </nav>

        <ul class="chat-rooms__list">
          <li class="chat-rooms__list__item">Amy</li>
          <li class="chat-rooms__list__item">John</li>
        </ul>
      </aside> -->

      <section class="chat-content">
        <nav class="nav">
          <span>Public room</span>
          <alerts-component :items="alerts"></alerts-component>
        </nav>
        <section class="content" id="scrollTopButton">
          <ul>
            <li v-for="msg of messages">
              <strong>{{msg.sender}}:</strong> {{msg.message}}
            </li>
          </ul>
        </section>
        <footer class="footer">
          <form @submit.prevent="sendChatMessage">
            <input placeholder="Type your message" type="text" v-model="text" />
          </form>
        </footer>
      </section>
    </main>

    <script>
      Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
      var app = new Vue({
        el: '#v-app',
        data: {
          text: '',
          username: '',
          messages: [],
          alerts: [],
          socket: { chat: null, alerts: null },
        },
        methods: {
          sendChatMessage() {
            console.log(`send: ${this.text}`);
            this.socket.chat.emit('chatToServer', {
              sender: this.username,
              message: this.text,
            });
            this.text = '';
          },
          receiveChatMessage(msg) {
            console.log(`recv: ${msg}`);
            this.messages.push(msg);
            const scrollTopButton = document.getElementById('scrollTopButton');
            scrollTopButton.scrollTo(0, document.body.scrollHeight);
          },
          receiveAlertMessage(msg) {
            console.log(`recv: ${msg}`);
            this.alerts.push(msg);
          },
        },
        created() {
          let username = localStorage.getItem('username');

          if (!username) {
            username = prompt('Enter your username');
            localStorage.setItem('username', username);
          }

          this.username = username;

          this.socket.chat = io('http://localhost:3000/chat');
          this.socket.chat.on('chatToClient', (msg) => {
            this.receiveChatMessage(msg);
          });

          this.socket.alerts = io('http://localhost:3000/user');
          this.socket.alerts.on('alertToClient', (msg) => {
            this.receiveAlertMessage(msg);
          });
        },
      });
    </script>
  </body>
</html>
