<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websockets Client</title>

    <link href="/styles.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="v-app">
      <section class="alerts">
        <alerts-component :items="alerts"></alerts-component>
      </section>
      <section class="chat">
        <h1>Websockets Tester</h1>

        <ul>
          <li v-for="msg of messages">
            <strong>{{msg.sender}}:</strong> {{msg.message}}
          </li>
        </ul>

        <form @submit.prevent="sendChatMessage">
          <input type="text" v-model="text" />
        </form>
      </section>
    </div>

    <script>
      Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
      var app = new Vue({
        el: '#v-app',
        data: {
          text: '',
          username: '',
          messages: [],
          alerts: [],
          socket: { chat: null, alerts: null },
        },
        methods: {
          sendChatMessage() {
            console.log(`send: ${this.text}`);
            this.socket.chat.emit('chatToServer', {
              sender: this.username,
              message: this.text,
            });
            this.text = '';
          },
          receiveChatMessage(msg) {
            console.log(`recv: ${msg}`);
            this.messages.push(msg);
          },
          receiveAlertMessage(msg) {
            console.log(`recv: ${msg}`);
            this.alerts.push(msg);
          },
        },
        created() {
          this.username = prompt('Enter your username');

          this.socket.chat = io('http://localhost:3000/chat');
          this.socket.chat.on('chatToClient', (msg) => {
            this.receiveChatMessage(msg);
          });

          this.socket.alerts = io('http://localhost:3000/user');
          this.socket.alerts.on('alertToClient', (msg) => {
            this.receiveAlertMessage(msg);
          });
        },
      });
    </script>
  </body>
</html>
